.headerBar {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.mainHeading {
    text-align: center;
    font-weight: normal;
    font-size: 32px;
    color: white;
}

.searchHeading {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    color: white;
    margin-top: -1.70%;
    margin-bottom: -1%;
    background: rgba(0,0,0,0.5);
}

.aboveContent {
    z-index: 1000;
    position: relative;
}

.formAbove {
    z-index: 500;
    position: relative;
}

.labels {
    width: 36%;
    text-align: left;
}

.mainPageText {
    width: 35%;
    margin-top: 18%;
    margin-left: 37%;
    font-size: 54px;
    color: #ffffff;
   // border: 1px solid red;
    margin-right: 23%;
    margin-bottom: 13%
}

.searchFormContainer {
  //  border: 1px solid red;
    margin-top: 4%;
    float: left;
    background: rgba(0,0,0,0.5);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 1%;
    width: 29%;
    margin-left: 5%;
}

.searchForm {

}

.vendorsList {
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    width: 100%;
    margin-top:  0.3%;
}

.vendorsHeader {
    font-size: 12px;
    border-bottom-color: #ffffff;
}

.vendorRow {
    font-size: 18px;
    border-bottom-color: #ffffff;
}
.searchButton {
    width: 95%;
    margin-left: -10%;
}
.vehicleType {
    padding-top: 12px;
    padding-bottom: 30px;
}
.map {
    padding-top: 12px;
    height: 75%;
    width: 100%
}
